*{background-color: rgb(200, 204, 217);}

h1{
font-family: Impact, Haettenschweiler,'Arial Narrow Bold',sans-serif;
color: rgb(186, 112, 16);
text-align: center;
    
}
.portadaReproductor{margin:1em;
    background-image: ;

}
#reproductorPrincipal{
    display: flex;
    flex-direction: row;
    /*align-items: center*/;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
   }
#lateralIzq{
        flex:40%;
        display: flex;
        flex-direction: column;
        ;
        align-self: center;
        margin-left: 5%;
        column-gap: 25px;  
        overflow-x: hidden;      
}
#lateralDer{
        flex: 60%;
        display: flex;
    flex-direction: column;
        margin-left: 5%;
        align-items: center;
        overflow-x: hidden;
}
#repControl{
    display: flex;
    flex-direction: row;
    gap: 15%;
    align-items: center;
     
      
}
#search{
    margin-top: 20%;
    width: fit-content;
    overflow-x: hidden;
}

#searchResults{
    margin-top: 10%;
    width: fit-content;
    height: 150px;
    border: 3px solid;
    padding: 10px;
    border-color: rgb(255, 244, 244);
    overflow-y: auto;
    overflow-x: hidden;
}

#myPlaylist{
    margin-top: 10%;
    width: fit-content;
    height: 150px;
    border: 3px solid;
    padding: 10px;
    border-color:  rgb(255, 244, 244);
    overflow-x: hidden;
    overflow-y: auto;
}

#favorites{
    margin-top: 10%;
    width: fit-content;
    height: 150px;
    border: 3px solid;
    padding: 10px;
    border-color:  rgb(255, 244, 244);
}

#songData{
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


#imagenAlbum img{
    width: 100%;
   
}
