*{background-color: rgb(59, 41, 158);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

h1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
    
}

#reproductorPrincipal{
    color:white;
    display: flex;
    flex-direction: row;
    /*align-items: center*/;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5%;
   
   }
#lateralIzq{
    color:white;
        flex:40%;
        display: flex;
        flex-direction: column;
        align-self: center;
        column-gap: 2px;  
        overflow-x: hidden;
        align-items:center;  
        width: max-content;   
        height: max-content ; 
}
#lateralDer{
    color:white;
        flex: 60%;
        display: flex;
    flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        width: max-content;
        height: max-content ; 
        
}
#repControl{
    color:white;
    display: flex;
    flex-direction: row;
    gap: 15%;
    align-items: center;
    justify-content: center;
         
}

#search{
    color:white;
    margin-top: 0%;
    width: fit-content;
    overflow-x: hidden;
}
#btnBuscar{
    color: aliceblue;
}
.input-icon{
    border-color: rgb(244, 255, 240);
    border-radius: 25%;
    color: white;
}

#searchResults{
    margin-top: 5%;
    width: fit-content;
    height: 150px;
    border: 3px solid;
    padding: 10px;
    border-color: rgb(255, 244, 244);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10%;
}

#myPlaylist{
    
    width: fit-content;
    height: auto;
    border: 3px solid;
    padding: 10px;
    border-color:  rgb(255, 244, 244);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10%;
}

#favorites{
   
    width: fit-content;
    height: auto;
    border: 3px solid;
    padding: 10px;
    border-color:  rgb(255, 244, 244);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10%;
}

#songData{
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 100px;
}


#imagenAlbum img{
    padding-top: 20%;
    width: 300px;
    height: 300px;
    
    
   
}
